{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <h1>{{title}}</h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for user in users %}
          <div class="col">
          <div class="card shadow-sm">
              {% if user.avatar %}
              <img src='{{user.avatar.url}}'>
              {% else %}
               <img src="{%static 'img/default_user_avatar.png' %}">
              {% endif %}
           <div class="card-body">
              <p class="card-text">
                <p>{{user.username}} </p>
                <p>{{user.email}} </p>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'user_detail' user.pk %}">View</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'user_post_list' user.pk %}">Posts</a></button>
                </div>
                <small class="text-body-secondary">{{user.date_joined}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
    {% endblock %}

